@import '../../../../styles.scss';

.converter-wrapper {
    padding: rem(20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(25px);

    .converter-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        mat-form-field {
            padding: 0 rem(25px);

            input {
                height: 15px !important;
            }
        }

        @include respond(mobile) {
            .fields-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

        }

    }

    .chart-button {
        padding: rem(5px) rem(10px);
        width: fit-content;
    }

    .chart-wrapper {
        position: relative;
        width: 100%;
        max-width: 800px;
        margin: auto;

        @include respond(tablet) {
            max-width: rem(600px);
        }

        @include respond(mobile) {
            max-width: rem(400px);
        }
    }
}